/* Bad hack coming up, just inserting stuff for two columns and colour below */

body,
html {
	margin:0;
	padding:0;
	height:100%;
	color:#24B200;
	background:#222;
}

h1 {
	margin:0;
}

h2 {
	margin:0 0 1em;
}

hr {
	border-color:#24B200;
}

#wrap {
	width:90%;
	margin:0 auto;
	background:#444;
	color:#99FE80;
}

#header {
	padding:5px 10px;
	background:#000;
	color:#FFF;
}

#header h1 a {
	color:#33FF00;
	font:120% Courier, monospace;
}

#header a {
	color:#24B200;
	font:90% Terminus, Consolas, Bitstream Vera Sans Mono, Lucida Console, Courier, monospace;
}

#header .claim {
	color:#24B200;
	font:100% Terminus, Consolas, Bitstream Vera Sans Mono, Lucida Console, Courier, monospace;
}

#main {
	float:left;
	width:70%;
	padding:10px;
	font:100% Bitstream Vera Sans, Verdana, Arial, sans-serif;
}

#main .title {
	color:#33FF00;
	font:160% Terminus, Consolas, Bitstream Vera Sans Mono, Lucida Console, Courier, monospace;
}

#main a{
	color:#00FF00;
}

#main .tags {
	float:right;
	font:80% Terminus, Consolas, Bitstream Vera Sans Mono, Lucida Console, Courier, monospace;
}

#main ul.tags li {
	list-style:none;
}

#main .info {
	font:80% Terminus, Consolas, Bitstream Vera Sans Mono, Lucida Console, Courier, monospace;
}

#main .article {
	font:100% Bitstream Vera Sans, Verdana, Arial, sans-serif;
	text-align:justify;
}

#main blockquote {
	color:#36648B;
	background:#DDD;
}

#main pre {
	color:#00FF00;
	background:#333;
	font:100% Terminus, Consolas, Bitstream Vera Sans Mono, Lucida Console, Courier, monospace;
}

#sidebar {
	float:right;
	width:20%;
	padding:10px;
	color:#24B200;
	background:#333;
	font:60% Terminus, Consolas, Bitstream Vera Sans Mono, Lucida Console, Courier, monospace;
}

#sidebar a {
	color:#00FF00;
}

#footer {
	clear:both;
	background:#333;
	text-align:center;
	color:#24B200;
	font:90% Terminus, Consolas, Bitstream Vera Sans Mono, Lucida Console, Courier, monospace;
}

#footer p {
	margin:0;
	color:#24B200;
}

#footer a {
	color:#24B200;
}

* html #footer {
	height:1px;
	color:#24B200;
}

del { 
	text-decoration:line-through;
}

.disabled {
	text-decoration:line-through;
	color:#24B200;
}

ul.nav {
	margin:0 0 1em 0;
	color:#24B200;
}
ul.nav li {
	list-style:none;
	color:#24B200;
	font:90% Terminus, Consolas, Bitstream Vera Sans Mono, Lucida Console, Courier, monospace;
}
ul.nav li.prev {
	float:left;
	color:#24B200;
}
ul.nav li.next {
	float:right;
	text-align:right;
	color:#24B200;
}
ul.nav li.up {
	float:center;
	text-align:center;
	color:#24B200;
}
